.faq_wrap_all h3 {
	background: none repeat scroll 0 0 #f39c12;
	border: 1px solid #f39c12;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.smart_all_accordion ul li a:hover{
	background: none repeat scroll 0 0 #f39c12;
}

.ui-accordion-content-active{
	border: 1px solid #f39c12 !important;
}