.faq_wrap_all h3 {
	background: none repeat scroll 0 0 #34495e;
	border: 1px solid #34495e;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.smart_all_accordion ul li a:hover{
	background: none repeat scroll 0 0 #34495e;
}

.ui-accordion-content-active{
	border: 1px solid #34495e !important;
}